

 body{
    font-family: 'Roboto', sans-serif;
    }
    
 

.barra{
    font-size:15px;
    font-weight: 400;
    background-color:#1CD1B0;
    align-self: auto;
    padding:10px;
    margin: 0%;
}

header {
    background-color: #00669F;
    font-weight: 400;
    font-size: 18px;
    
  
 
    }

    h1{
        background-color: #00669F;
        font-size: 40px;
        font-weight: 400;
        padding:20px;
        margin: 0;
    }
    
    h2
    {
        font-size: 30px;
        font-weight: 400;
        margin-top: 50px;

    }
    main{
     text-align: center;
      background-color:#FFFFFF;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    
    .perfil{
    position: relative;
        width: 300px;
        height: 530px;
     background-color:#F3F3F3;
     font-weight: 400;
     box-shadow: 0 5px 10px -2px #000;
     margin-top: 80px;
     margin-bottom: 80px;

 


    }
    
    #foto{
        position: absolute;
        border-radius: 50%;
        top:120px;
        left:90px;
    }
    #corazon{
        position: absolute;
        top:20px;
        left:20px;
    
    }
    
    article{
        text-align: left;
     padding-top:25px;
     margin: 20px;
    }
    
    
        p {
            background: #00669F;
            padding: 15px;
            color: #F3F3F3;
            margin-top:20px;
            margin-left:80px;
            margin-right: 80px;
    
    
    
        }
    
    
    footer{
        background-color: #00669F;
        color: white;
        font-size: 16px;
        padding: 20px;
        font-weight: 400;
    }